body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fff8f0;
  color: #5a4a42;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  @media only screen and (min-width: 601px){
    display: flex;
  }
}


.image-container {
  flex: 1;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: radial-gradient(transparent, #ff8a00);
}

.image-container img {
  width: 100%;
  transform: scale(1, 0.7);
  height: 100vh;

  @media only screen and (max-width: 600px) {
      width: 100%;
      height: 50vh;  
  }
}

.form-container {
  flex: 1;
  padding: 20px;
}

.toppings-container {
  background: #f9cd9b;
}

.extras-container {
  background: #f9cd9b;
}

.delivery-container {
  background: #f9cd9b;
}

#type {
  border: 2px solid brown;
  height: 30px;
}

h2, h3 {
  color: brown;
}

input[type="checkbox"] {
  accent-color: brown;
}

p {
  color: #dc2e2e;
}

.price-banner {
  position: absolute;
  top: 20px;
  left: 75%;
  background-color: brown;
  color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#userName input {
  height: 40px;
  border: 2px solid brown;
}

button {
  height: 40px;
  margin-left: 20px;
  background: #dc2e2e;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 0 10px;
}

.orderDetails {
  position: absolute;
  bottom: auto;
}

@media only screen and (max-width: 600px) {

  button {
    flex-direction: column;
    margin-top: 10px;
    margin-left: 2px;
  }

  .form-container {
    position: absolute;  
  }
 
}

