* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    position: fixed;
    align-items: center;
    width: 100%;
    background-color: transparent;
    padding: 2rem;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    font-size: 32px;
}

nav ul li {
    display: inline-block;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 10px;
}

.mobile-menu {
    display: none;
}

/* Hero banner start */

.hero-banner {
    background: url("./image/herobannerimage.jpg")center center fixed;
    background-size: cover;
    min-height: 80vh;
    overflow: hidden;
    align-items: center;
}

.hero-banner h2 {
    font-size: 30px;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

/* Hero banner end */


/* project start */

section {
    padding: 2rem;
    margin: 0 2rem;
}

section:nth-child(odd) {
    background-color: rgb(85, 138, 138);
    color: lightgoldenrodyellow;
}

#projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    scroll-margin-top: 150px;
}

.box {
    background: whitesmoke;
    padding: 20px;
    margin: 5px;
    border: black solid 1px;
    width: 25%;
    height: 100%;
    font-size: 1.4vw;
    min-width: 180px;
}

.box img {
   width: 100%;
   object-fit: fill; 
}


.box a {
    color: rgb(220, 64, 7);
}

/* project end */



/* about me start */

#aboutme {
    display: flex;
    scroll-margin-top: 150px;
}

#aboutme img {
    max-width: 300px;
    width: 100%;
    object-fit: fill;
    align-self: flex-start;
    margin: 0 1rem;
} 

.container-color {
    background-color: bisque;
}

.container-padding {
    padding: 30px 60px 60px 60px;
}

/* about me end */


/* skills start */

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    scroll-margin-top: 150px;
}

.skillBox {
    background: whitesmoke;
    width: 200px;
    padding: 20px;
    margin: 5px;
}

.wrapper2 {
    display: flex;
    justify-content: space-between;
}

.skill-box-color {
    background-color: gray;
}



.skillBox img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5vw;
}

.skillBox h5 {
    text-align: center;
}

.progress-bar {
    
    margin-top: 15px;
    border: 1px #d3d3d3 solid;
}

.bar {
    height: 15px;
    background-color: #ff0000;
}


.bar-90 {
    width: 90%;
}

.bar-70 {
    width: 70%;
}

.bar-50 {
    width: 50%;
}

.bar-40 {
    width: 40%;
}

/* skills end */



/* Form start */

.form-container {
    background-color: dimgray; 
    padding: 20px; 
}

#form h4 {
    padding-bottom: 20px;
    font-size: x-large;
    text-align: center;
}

#form {
    width: 50%;
    margin: auto;   
}

input[type=text], textarea {
    width: 100%;
    padding: 10px;  
}

label {
    padding: 10px 10px 10px 0;
    display: inline-block;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.form-row:after {
    content: "";
    display: table;
    clear: both;
}


button {
    background: chocolate;
    color: white;
    border: none;
    height: 40px;
    width: 130px;
    border-radius: 5px;
}

.send-message {
    text-align: center;
    margin-top: 40px;
}

footer {
    background-color: dimgray; 
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 10px;
    margin-bottom: 10px;
}

#backTop {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 100px;
    height: 40px;
}

.mobile-menu {
    position: fixed;
    top: 23px;
    right: 2rem;
    width: 100px;
    height: 40px;
}

/* Form end */


/* Mobile */
@media screen and (max-width:600px) {
    .mobile-menu {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav ul.responsive {
        display: block;
        background-color: #7dc483ba;
        color: #333;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        transform: translateX(100%);
        opacity: 0; /* Hidden initially */
        visibility: hidden; /* Prevent layout shift */
        transform-origin:top;
        transition: max-height 0.3s ease-out, transform 0.5s ease-out, opacity 0.5s ease-out, visibility 0s 0.5s;
    }

    nav ul.responsive.open {
        max-height: 540px;
        transform: translateX(0); /* Or enough to fit your menu content */
        opacity: 1; /* Fade in */
        visibility: visible; /* Make it visible */
        transition: max-height 0.5s ease-out, transform 0.3s ease-out, opacity 0.5s ease-out;
    }

    ul.responsive li {
        display: block;
        margin: 2rem;
    }
   
    #aboutme {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .col-25, .col-75 {
        width: 100%;
        margin-top: 0;
    }

    .hero-banner h2 {
        font-size: 20px;
    }
}